In [2]:
print(name)

datascience

In [3]:
l1=[10,"machine",236.5,"deeplearning"]

In [4]:
print(l1)

[10, 'machine', 236.5, 'deeplearning']

In [5]:
number=231.65

In [6]:
print(number)

231.65

In [7]:
mytuple=("lakshya","apple","algorithms")
print(mytuple)

('lakshya', 'apple', 'algorithms')

In [ ]:
# question2

In [8]:
var1=''

In [9]:
print(type(var1))

<class 'str'>

In [10]:
var2='[DS,ML,Python]'

In [11]:
print(type(var2))

<class 'str'>

In [12]:
var3=['DS','ML','Python']

In [13]:
print(type(var3))

<class 'list'>

In [14]:
var4=1

In [15]:
print(type(var4))

<class 'int'>

In [ ]:
# question3

In [16]:
# (**) is defined as raise to the power operator.for eg-

In [17]:
inta =3

In [18]:
intb =4

In [19]:
c=3**4

In [20]:
print(c)

81

In [21]:
# (%) is defined as the remainder operator for eg-

In [22]:
inta =34

In [23]:
intb =6

In [24]:
c=34%6

In [25]:
print(c)

4

In [26]:
# (/) operator is used to print quotient in flaot value

In [27]:
inta =65

In [28]:
intb =8

In [29]:
c=65/8

In [30]:
print(c)

8.125

In [31]:
# (//) operator is used to print quotient discarding dcimal values

In [32]:
inta =66

In [33]:
intb =9

In [34]:
c=66//9

In [35]:
print(c)

7

In [ ]:
# question5

In [3]:
A = int(input("enter number A: "))

enter number A:  36

In [4]:
B = int(input("enter number B: "))

enter number B:  6

In [6]:
count =0

In [7]:
if A%B ==0:
    while A%B ==0:
        A=A/B
        count +=1
        print("A is divisible by B{}times".format(count))
else:
        print("A is not divisible by B")

A is divisible by B1times
A is divisible by B2times

In [8]:
# QUESTION NO 6

In [24]:
import random

numbers = []

for _ in range(25):
    numbers.append(random.randint(1, 100))

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

72 is divisible by 3
98 is not divisible by 3
53 is not divisible by 3
73 is not divisible by 3
5 is not divisible by 3
12 is divisible by 3
6 is divisible by 3
59 is not divisible by 3
85 is not divisible by 3
48 is divisible by 3
67 is not divisible by 3
57 is divisible by 3
43 is not divisible by 3
91 is not divisible by 3
73 is not divisible by 3
9 is divisible by 3
50 is not divisible by 3
31 is not divisible by 3
13 is not divisible by 3
84 is divisible by 3
91 is not divisible by 3
72 is divisible by 3
78 is divisible by 3
36 is divisible by 3
61 is not divisible by 3

In [25]:
# question7

In [28]:
# mutable data types can be changed or modified once created. for eg;

In [30]:
list = [1, 2, 3]
print(list) 

# Modifying the list
list[0] = 4
print(list)

[1, 2, 3]
[4, 2, 3]

In [31]:
# immutable data types are the data types which cannot be changed or modified once created.. for eg:

In [32]:
string = "Hello"
print(string)  

# Attempting to modify the string
string[0] = 'M'

Hello

TypeError: 'str' object does not support item assignment

In [33]:
# question no 4

In [34]:
data_list = [10, "Hello", 3.14, True, [1, 2, 3], {"key": "value"}, (4, 5, 6), None, 'a', {'x', 'y', 'z'}]

for element in data_list:
    print(element) 
    print(type(element))

10
<class 'int'>
Hello
<class 'str'>
3.14
<class 'float'>
True
<class 'bool'>
[1, 2, 3]
<class 'list'>
{'key': 'value'}
<class 'dict'>
(4, 5, 6)
<class 'tuple'>
None
<class 'NoneType'>
a
<class 'str'>
{'z', 'y', 'x'}
<class 'set'>